body {
    margin: 1em auto;
    padding: 0 .62em;
    /*font: 1.2rem/1.62rem sans-serif;*/
    /*font: 1.2rem/1.62rem sans-serif;*/
}

.max-width-40 {
  max-width: 40em;
}


/* ---------------------------------------------------------
  Basic flex.
*/

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.centered-text {
  display: flex;
  flex-direction: row; /* column | row */
  align-items: baseline;
}

.center-block-vertically {
  margin: 0 auto;
}

.flex-align-self-center {
  align-self: center;
}


/* ---------------------------------------------------------
  Debugging.
*/

.dbg1 {
  border: 1px solid grey;
}

.dbg2 {
  border: 1px solid green;
}

.dbg3 {
  border: 1px solid cyan;
}

.dbg4 {
  border: 1px solid yellow;
}

.dbg-up {
  z-index: 99999;
}

/* ---------------------------------------------------------
  Spacing.
*/

.no-border {
  margin: 0;
  padding: 0;
}

.pad-left-right {
  padding: 0 1em 0 1em;
  margin: 0;
}

.no-padding {
  padding: 0;
}

/* ---------------------------------------------------------
  Bootstrap.
*/

/* Otherwise bootstrap's reboot corrupts toggles that use labels in table cells. */
table label {
  margin-bottom: 0;
}
